<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style=" background: #efefef;">
    <div th:insert="top_bar::top_bar"/>

    <div style="margin: 40px;background: white;">
        <div class="col-lg-9 col-sm-12  col-md-12 col-xs-12" >
            <h3>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起问题
            </h3>
            <hr>
            <form action="/createQuestion" method="post">
                <div class="form-group">
                    <label for="title">问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题">
                </div>
                <div class="form-group">
                    <label for="description">问题补充(必填)</label>
                    <textarea class="form-control" id="description" cols="30" name="problemDescribe" rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" class="form-control" id="tag" name="Tag" placeholder="输入标签以,分隔">
                </div>
                <div class="alter alter-danger" role="alter" th:text="${session.error}"></div>
                <button type="submit" class="btn btn-success"
                    style="margin-bottom: 15px; float: right;">发布</button>
            </form>
            <hr>
        </div>
        <div class="col-lg-3 col-sm-12  col-md-12 col-xs-12">
            <h2>预留面板</h2>
        </div>
    </div>
</body>
</html>